@font-face {
  font-family: 'TelegramaRaw';
  src: url('fonts/telegrama_raw.eot'); /* IE9 Compat Modes */
  src: url('fonts/telegrama_raw.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/telegrama_raw.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/telegrama_raw.woff') format('woff'), /* Pretty Modern Browsers */
       url('fonts/telegrama_raw.ttf')  format('truetype'); /* Safari, Android, iOS */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Orbitron';
  src: url('fonts/orbitron-light.otf');
  font-weight: normal;
  font-style: normal;
}

@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(359deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(359deg); }
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(359deg);}
}

body {
  background-color: #a6d5f3;
  color: white;
}

#logo img {
  object-position: 50% 0;
  object-fit: contain;
  max-width: 90%;
  max-height: 200px;
  height: 33%;
}

#main {
  position: relative;
  height: 100%;
  text-align: center;
}

/*#playToggle {
  position: relative;
  display: block;
  text-align: center;

  font-size: 160px;
  height: 33%;
}*/

.toggle {
  display:block;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 25%;
  max-height: 150px;
}

.toggle:hover {
  cursor: pointer;
}

.iconHide {
  display: none;
}

#nowplaying {
  position: absolute;
  text-align: center;

  width: 100%;
  bottom: 0;
  overflow: hidden;

  font-family: Orbitron;
  font-size: 8vm; /* IE9 hack */
  font-size: 8vmin;
  /*font-size: 48px;*/
}

.nowplayingtext {
  width: 100%;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-right: 100%;

  text-align: center;

  line-height: 10vm; /* IE9 hack */
  line-height: 10vmin;
}

.nowplayingtext span {
  display: block;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}

.scanlines {
  z-index: 100;
  pointer-events:none;
  background: -moz-repeating-linear-gradient(
    top,
    transparent 0px,
    transparent 1px,
    rgba(0,0,0,0.25) 1px,
    rgba(0,0,0,0.25) 2px
  );
  /*** WEBKIT ***/
  background: -webkit-repeating-linear-gradient(
    top,
    transparent 0px,
    transparent 1px,
    rgba(0,0,0,0.25) 1px,
    rgba(0,0,0,0.25) 2px
  );
  background-size: 100% 2px;
}

.brighten {
  z-index:101;
  pointer-events: none;
  background: rgba(255, 255, 255, 0.4);
  background-blend-mode: lighten;
}

.loadingAnimationContainer {
  width: 40%;
  height: 45%;
  margin: 0 auto;
}

/* drip animation taken from https://codepen.io/PButcher/pen/mVYpZb */

.drip {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  position: relative;
}
.drip:before {
  position: absolute;
  left: 45%;
  top: 0;
  content: '';
  width: 20px;
  height: 20px;
  background-color: #FFF;
  border-radius: 50%;
  opacity: 0;
  animation: drip 3s ease infinite;
}
.drip:after {
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  left: 0;
  content: '';
  width: 0px;
  height: 0px;
  border: solid 4px #FFF;
  border-radius: 50%;
  opacity: 0;
  animation: splash 3s ease infinite;
}

@keyframes drip {
  10% {
    top: 0;
    opacity: 1;
    animation-timing-function: cubic-bezier(0.24, 0, 0.76, 0.14);
  }
  25% {
    opacity: 1;
    top: 75%;
    animation-timing-function: ease-out;
    width: 20px;
    height: 20px;
    left: 45%;
  }
  30% {
    opacity: 1;
    top: 50%;
    width: 10px;
    height: 10px;
    animation-timing-function: ease-in;
    left: 47.5%;
  }
  33% {
    top: 75%;
    opacity: 0;
    animation-timing-function: ease-out;
    left: 47.5%;
  }
  33.001% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes splash {
  0% {
    opacity: 0;
  }
  25% {
    bottom: 25%;
    left: 50%;
    opacity: 0;
    width: 0px;
    height: 0px;
  }
  25.001% {
    opacity: 1;
  }
  33% {
    bottom: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 50%;
  }
  33.001% {
    bottom: 25%;
    left: 50%;
    opacity: 1;
    width: 0px;
    height: 0px;
  }
  66% {
    bottom: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 50%;
  }
  66.001% {
    opacity: 0;
  }
}
